name: "Publish to crates.io"

on:
  push:
    tags:
      - "*"

jobs:
  build-owen-binary:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Run tests"
        run: cargo test

      # - name: "Run publish dry run"
      #   run: cargo publish --dry-run
